.main {
  grid-area: main;
  display: grid;
  grid-template-columns:  480px 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 'bgImg bgImg bgImg bgImg' 'aside posts posts posts';
  background-color: antiquewhite;
}

.bgImg {
  grid-area: bgImg;
  background-image: url('../../assets/img/bgImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

aside {
  grid-area: aside;
  position: relative;
  background-color: aqua;
  margin-left: 30px;

}

.ava {
  display: block;
  margin: auto;
  margin-top: -140px;
  width: auto;
  height: 300px;
  border: #fffbfd 3px solid;
  border-radius: 150px;
}

.postsArea {
  grid-area: posts;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr;
  grid-template-areas: 'mainPost ' 'postList';
  margin: 20px 20px 0 20px;
  padding: 30px;
  background: #f5fafa;

}

.mainPost {
  grid-area: mainPost;
  justify-content: space-around;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #57ff4c;
  box-shadow: inset 0 0 8px;
}

.mainPost textarea {
  width: 400px;
  padding: 10px;
  height: 40px;
  border-radius: 50px;
  resize: none;
  outline: none;
}

.mainPost button {
  width: 100px;
  height: 40px;
  border: black 1px solid;
  border-radius: 20px;
  background-color: #57ff4c;
  outline: none;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 5px 8px #000
}

.mainPost button:hover{

  box-shadow: 0 28px 38px rgba(0, 0, 0, 0.25), 0 28px 36px rgba(0, 0, 0, 0.5);
}


.postsList img {
  width: 40px;
  grid-area: postList;
}

.post {
  background-color: white;
  box-shadow: 2px 5px 8px #000;
  border: 2px #e9eeee solid;
  height: 150px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

.post img {
  height: 70px;
  width: 70px;
  border-radius: 80px;
  margin: 10px;
}

.post .name {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  height: 20px;
}

.post i {
  position: relative;
  top: 90px;
  right: 190px;
  font-size: 20px;
  float: left;
}

.textContent {
  border: black 1px solid;
  margin: 10px;
  width: 600px;
  /*height: 100px;*/

}