.main {
  grid-area: main;
  background-color: antiquewhite;
  font-size: 12px;

}

.settings {
  position: relative;
  height: 440px;
  width: 400px;
  background-color: white;
  margin: 50px auto;
  padding: 10px;
  box-shadow: 2px 5px 8px #000;
  border: 2px #e9eeee solid;
  border-radius: 30px;

}

.mainInfo {
  display: flex;
  justify-content: space-between;
  margin-right: 13px;

}


.mainField{
width: 380px
}

.contacts {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: repeat(3, 50px);
  margin-top: 10px
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 500;
  color: #0f0f0f;
  background-color: #57ff4c;
  display: inline-block;
  height: 30px;
  width: 60px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.inputfile + label {
  cursor: pointer;
}

.summeryError {
  display: inline;
  color: red;
}
.done{
  display: inline;
  color: #57ff4c;
}
.contact{
  width: 190px;
}
.saveBtn{
  position: relative;
  top: 15px;
  float: right;
  width: 100px;
  height: 40px;
  border: black 1px solid;
  border-radius: 20px;
  background-color: #57ff4c;
  outline: none;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.saveBtn:hover {
  cursor: pointer;
}